{% extends 'base.html.twig' %}

{% block titlePage %} Cogip - Contact {% endblock %}

{% block body %}
    <main>

        <section class='tables'>
            <article class="article__container contacts">

                <h2 class="article__title"> All contacts </h2>

                <div class="search__wrapper">
                    <input class="searchbar" id="search" type="search" placeholder="Search company..">
                </div>

                <div class="table__container" id="tableContacts" role="table" aria-label="contacts">
                    <div class="table__header">
                        <div class="table__title flex__row arrow" style="width: calc(17.5%);">Name
                            <img class="arrow__down" id="0" src="assets/img/icons/downward-arrow.png" alt=""/>
                        </div>
                        <div class="table__title flex__row" style="width: calc(17.5%);">Phone</div>
                        <div class="table__title flex__row" style="width: calc(30%);">Mail</div>
                        <div class="table__title flex__row" style="width: calc(17.5%);">Company</div>
                        <div  class="table__title flex__row arrow" style="width: calc(100%);">Created at
                            <img class="arrow__down" id="4" src="assets/img/icons/downward-arrow.png" alt=""/>
                        </div>
                    </div>

                    {% for elem in contact %}
                        <div class="flex__table table__content">
                            <div class="flex__row row__content" style="width: calc(17.5%);" data-label="Name" ><a href="/showContact?id={{ elem.id }}">{{ elem.name }}</a></div>
                            <div class="flex__row row__content" style="width: calc(17.5%);" data-label="Phone" >{{ elem.phone }}</div>
                            <div class="flex__row row__content" style="width: calc(30%);" data-label="Email" ><a href="mailto:{{ elem.email }}">{{ elem.email }}</a></div>
                            <div class="flex__row row__content" style="width: calc(17.5%);" data-label="Company" ><a href="/showCompany?id={{ elem.companyId }}">{{ elem.company }}</a></div>
                            <div class="flex__row row__content" style="width: calc(17.5%);" data-label="Created at" >{{ elem.created_at }}</div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>

{% endblock %}