{% extends 'baseDashboard.html.twig' %}

{% block titlePage %}
  Cogip - Dashboard Companies
{% endblock %}

{% block body %}
  <section class="dashboardForm">
    <h1 class="dashboardForm__title">
      New companies
    </h1>
    <form class="dashboardForm__form" action="/dashboardCompany" method="post">
      <input class="dashboardForm__form__input"
        id=""
        type="text"
        name="companyName"
        placeholder="Company Name" />
      <input class="dashboardForm__form__input"
        id=""
        type="text"
        name="country"
        placeholder="Country" />
      <input class="dashboardForm__form__input"
        id=""
        type="text"
        name="tva"
        placeholder="TVA" />
      <select class="dashboardForm__form__input select" name="companyType" id="">
        <option value="none" selected disabled hidden>
          Select a type of Companies
        </option>
        {% for elem in types %}
          <option value="{{ elem.id }}">
            {{ elem.name }}
          </option>
        {% endfor %}
      </select>
      <input class="dashboardForm__form__button" type="submit" value="Save" />
    </form>
  </section>

  <section class='db__tables'>

    <article class="db__article__container company">

      <h2 class="db__article__title"> All companies </h2>

      <div class="db__search__wrapper">
        <input class="db__searchbar" id="db__search" type="search" placeholder="Search company...">
      </div>

      <div class="db__table__container" id="tableCompanies" role="table" aria-label="companies">
        <div class="db__flex__table db__table__header">

          <div class="db__flex__row arrow" style="width: calc(19.8%);">Company
            <img class="arrow__down" id="1" src="assets/img/icons/downward-arrow-white.png" alt=""/>
          </div>
          <div class="db__flex__row  arrow" style="width: calc(19.8%);">TVA</div>
          <div class="db__flex__row " style="width: calc(15.8%);">Country</div>
          <div class="db__flex__row " style="width: calc(15.8%);">Type</div>
          <div class="db__flex__row arrow" style="width: calc(17.8%);">Created at
            <img class="arrow__down" id="1" src="assets/img/icons/downward-arrow-white.png" alt=""/>
          </div>
          <div class="db__flex__row " style="width: calc(11%);"></div>

        </div>

        {% for elem in companies %}
          <div class="db__flex__table table__content">

            <div class="db__flex__row row__content" style="width: calc(19.8%);">{{ elem.name }}</a></div>
            <div class="db__flex__row row__content" style="width: calc(19.8%);">{{ elem.tva }}</div>
            <div class="db__flex__row row__content" style="width: calc(15.8%);">{{ elem.country }}</div>
            <div class="db__flex__row row__content" style="width: calc(15.8%);">{{ elem.types }}</div>
            <div class="db__flex__row row__content" style="width: calc(17.8%);">{{ elem.created_at }}</div>
            <div class="db__flex__row row__content modifier" style="width: calc(11%);">
              <img class="modifier__icon" src="assets/img/icons/edit.png" alt="edit">
              <a href="/dashboardDeleteCompany?&id={{ elem.id }}"><img class="modifier__icon" src="assets/img/icons/x-button.png" alt="Delete"></a>
            </div>

          </div>
        {% endfor %}
      </div>

    </article>

  </section>
{% endblock %}
