{% extends 'baseDashboard.html.twig' %}

{% block titlePage %}
  Cogip - Dashboard Contact
{% endblock %}

{% block body %}
  <section class="dashboardForm">
    <h1 class="dashboardForm__title">
      New contact
    </h1>
    <form class="dashboardForm__form" id="contact__form" action="/dashboardContact" method="post">
      <input class="dashboardForm__form__input"
        id="contactNameInput"
        type="text"
        name="contactName"
        placeholder="Name" />
      <input class="dashboardForm__form__input"
        id="phoneNumberInput"
        type="text"
        name="phoneNumber"
        placeholder="Phone" />
      <input class="dashboardForm__form__input"
        id="contactEmailInput"
        type="text"
        name="contactEmail"
        placeholder="Email" />
      <select class="dashboardForm__form__input select" name="company" >
        <option value="none" id="companyInput" selected disabled hidden>
          Select a Company
        </option>
        {% for elem in company %}
          <option value="{{ elem.id }}">
            {{ elem.name }}
          </option>
        {% endfor %}
      </select>
      <input class="dashboardForm__form__input"
        id="fileInput"
        type="file"
        name="file" />
      <input class="dashboardForm__form__button" type="submit" value="Save" />
    </form>
  </section>

  <section class='db__tables'>

    <article class="db__article__container contacts">

      <h2 class="db__article__title"> All contacts </h2>

      <div class="db__search__wrapper">
        <input class="db__searchbar" id="db__search" type="search" placeholder="Search contact...">
      </div>

      <div class="db__table__container" id="tableInvoices" role="table" aria-label="contacts">
        <div class="db__flex__table db__table__header">

          <div class="db__flex__row arrow" style="width: calc(15%);">Name
            <img class="arrow__down" id="1" src="assets/img/icons/downward-arrow-white.png" alt=""/>
          </div>
          <div class="db__flex__row " style="width: calc(15%);">Phone</div>
          <div class="db__flex__row " style="width: calc(26%);">Email</div>
          <div class="db__flex__row " style="width: calc(16%);">Company</div>
          <div class="db__flex__row arrow" style="width: calc(17%);">Created at
            <img class="arrow__down" id="1" src="assets/img/icons/downward-arrow-white.png" alt=""/>
          </div>
          <div class="db__flex__row " style="width: calc(11%);"></div>

        </div>

        {% for elem in contacts %}
          <div class="db__flex__table table__content" id="{{ elem.id }}">

            <div class="db__flex__row row__content" style="width: calc(15%);" data-label="Name">{{ elem.name }}</a></div>
            <div class="db__flex__row row__content" style="width: calc(15%);" data-label="Phone">{{ elem.phone }}</div>
            <div class="db__flex__row row__content" style="width: calc(26%);" data-label="Email">{{ elem.email }}</div>
            <div class="db__flex__row row__content" style="width: calc(16%);" data-label="Company">{{ elem.company }}</div>
            <div class="db__flex__row row__content" style="width: calc(17%);" data-label="Created at">{{ elem.created_at }}</div>

            <div class="db__flex__row row__content modifier" value="icons" style="width: calc(11%);">
              <img class="modifier__icon icon__edit" src="assets/img/icons/edit.png" alt="edit">
              <a href="/dashboardDeleteContact?&id={{ elem.id }}"><img class="modifier__icon icon__delete" src="assets/img/icons/x-button.png" alt="Delete"></a>
            </div>

          </div>
        {% endfor %}
      </div>

    </article>

  </section>
{% endblock %}
