{% extends 'baseDashboard.html.twig' %}

{% block titlePage %} Cogip - Dashboard {% endblock %}

{% block body %}


    <section class="dashboard__home">

        {#-----------------------------------------Table Statistics------------------------------------------ #}
        <article class="dashboard__home__statistics dashboard__home__table">
            <h2 class="dashboard__home__table__title">Statistics</h2>
            <div class="dashboard__home__container__statistics">

                {% set elem = number.invoices %}
                {% if elem %}
                <div class="statistics statistics__invoices">
                    <p class="statistics__total__number">{{elem}} </br>invoices</p>
                </div>
                {% endif %}

                {% set elem = number.contacts %}
                {% if elem %}
                <div class="statistics statistics__contacts">
                    <p class="statistics__total__number">{{elem}} </br> contacts</p>
                </div>
                {% endif %}

                {% set elem = number.companies %}
                {% if elem %}
                <div class="statistics statistics__companies">
                    <p class="statistics__total__number">{{elem}} </br> companies</p>
                </div>
                {% endif %}

            </div>
        </article>


        {#-----------------------------------------Table Last Contacts------------------------------------------ #}

        <article class="dashboard__home__lastContacts dashboard__home__table">
            <h2 class="dashboard__home__table__title"> Last Contacts </h2>
            <div class="dashboard__home__table__container table__lastContacts">

                <div class="dashboard__home__table__row table__heading">
                    <div class="dashboard__home__table__head">Name</div>
                    <div class="dashboard__home__table__head">Phone</div>
                    <div class="dashboard__home__table__head">Email</div>
                </div>

                {% for elem in contacts %}
                <div class="dashboard__home__table__row">
                    <div class="dashboard__home__table__cell">{{ elem.name }}</div>
                    <div class="dashboard__home__table__cell">{{ elem.phone }}</div>
                    <div class="dashboard__home__table__cell">{{ elem.email }}</div>
                </div>
                {% endfor %}

            </div>
        </article>

        {#-----------------------------------------Table Last Invoices------------------------------------------ #}

        <article class="dashboard__home__lastInvoices dashboard__home__table">
            <h2 class="dashboard__home__table__title"> Last Invoices </h2>
            <div class="dashboard__home__table__container table__lastInvoices">

                <div class="dashboard__home__table__row table__heading">
                    <div class="dashboard__home__table__head">Invoice Number</div>
                    <div class="dashboard__home__table__head">Dates</div>
                    <div class="dashboard__home__table__head">Company</div>
                </div>

                {% for elem in invoices %}
                    <div class="dashboard__home__table__row">
                        <div class="dashboard__home__table__cell">{{ elem.ref }}</div>
                        <div class="dashboard__home__table__cell">{{ elem.due_date }}</div>
                        <div class="dashboard__home__table__cell">{{ elem.company }}</div>
                    </div>
                {% endfor %}

            </div>
        </article>

        {#-----------------------------------------Table Last Companies------------------------------------------ #}

        <article class="dashboard__home__lastCompanies dashboard__home__table">
            <h2 class="dashboard__home__table__title"> Last Companies </h2>
            <div class="dashboard__home__table__container table__lastCompanies">

                <div class="dashboard__home__table__row table__heading">
                    <div class="dashboard__home__table__head">Name</div>
                    <div class="dashboard__home__table__head">TVA</div>
                    <div class="dashboard__home__table__head">Country</div>
                </div>

                {% for elem in companies %}
                    <div class="dashboard__home__table__row">
                        <div class="dashboard__home__table__cell">{{ elem.name }}</div>
                        <div class="dashboard__home__table__cell">{{ elem.tva }}</div>
                        <div class="dashboard__home__table__cell">{{ elem.country }}</div>
                    </div>
                {% endfor %}

            </div>
        </article>


    </section>

</body>

{% endblock %}